/* body{
	background-image: url("http://i.imgur.com/Xg9VHI4.png");
	background-repeat: no-repeat;
	background-position: bottom right;
} */
html{
	height: 100%;
}

body{
	background: #111;
	margin-bottom: 100px; 
}

h1,h2,h3,h4,h5,h6, .btn{
	text-transform: uppercase;
}

.header{
	margin-bottom: 40px;
}

.main-title{
	color: #fff;
	h1{
		margin-bottom: 0;
		color: @brand-primary;
	}
	h2{
		margin-top: 0;
		margin-bottom: 20px;
	}
}

.panel-title{
	line-height: 2;
}

.btn{
	transition: background 0.5s;
	-moz-transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
}

.region{
   	font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group-item:nth-child(2n+1) {
    background-color: darken(@list-group-bg, 5%);
}

.overlay {
    background: @brand-primary;
    color: #fff;
    font-weight: bold;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;

	a{
		color: #fff;
	}

	&:hover {
	    opacity: 1;
	}

	.overlay-table{
	    display: table;
	    height: 100%;
	    width: 100%;
	}

	.overlay-table-cell{
	    display: table-cell;
	    vertical-align: middle;
	}    
}


#login-dropdown-list input:first-of-type, #login-dropdown-list input:last-of-type{
	border-radius: 0;
}


.chatrooms {
    bottom: 0;
    position: fixed;
    right: 0;
}

.chatroom {
    background: #F1EEE7;
    border: 1px solid;
    float: left;
    margin: 0 0 0 5px;
    padding: 0;
    transform: translateY(82%);
    transition: transform 0.5s;
    max-width: 255px;
    position: relative;
    &.active{
    	transform: translateY(0);
    }

	.header-chatroom {
	    background: @brand-primary;
	    color: #fff;
	    font-weight: bold;
	    margin: 0;
	    padding: 15px;
	}


	.messages {
	    height: 200px;
	    overflow-y: auto;
	    padding: 15px;
	    width: 250px;

	    blockquote {
		    border-left: 5px solid lighten(#111, 50%);
		    font-size: inherit;
		    margin: 0 0 10px;
		    width: 200px;
		    padding: 5px 10px;

		    &.me{
			    border-left-color: #111;
			}
		}
	}    
}

.disconnected {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 34px;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 3;
}

//Global chat //

.list-chat {
    height: 430px;
    overflow: auto;
}